.book-list-container {
  max-width: 700px;
  margin: 40px auto;
  text-align: center;
}

.add-btn {
  padding: 10px 18px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-btn:hover {
  background: #218838;
}

.book-list {
  margin-top: 20px;
}
